
@{
    ViewBag.Title = "Index";
}

<body background="https://raw.githubusercontent.com/rhythm-roshan/NavigationBar/master/casino.JPG" style="width: 100%; height: 100%;  background-repeat:no-repeat;

   background-size:cover">
</body>
